body {
  background: linear-gradient(to right, blue, limegreen);
}

.calculator-grid {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: 10rem repeat(5, 6rem);
  gap: 0.1rem;
}

.output {
  background-color: rgba(0, 0, 0, 0.75);
  /* grid-column: 1/-1; */
  grid-column: span 4;
}

.span-two {
  grid-column: span 2;
}
